COMPOSE_PROJECT_NAME=laziestmatrix
MATRIX_DOMAIN=matrix.example.com
MATRIX_SERVER_NAME=matrix.example.com
PUBLIC_IP=127.0.0.1
TZ=UTC
POSTGRES_DB=synapse
POSTGRES_USER=synapse
POSTGRES_PASSWORD=change-me
REDIS_PASSWORD=change-me
SYNAPSE_REGISTRATION_SHARED_SECRET=change-me
SYNAPSE_MACAROON_SECRET_KEY=change-me
SYNAPSE_FORM_SECRET=change-me
TURN_SHARED_SECRET=change-me
TURN_REALM=matrix.example.com
ENABLE_HTTPS=false
LE_EMAIL=root@localhost
SYNAPSE_WORKERS=2
ELEMENT_DEFAULT_COUNTRY_CODE=US
